    <div class="todo-footer">
        <!-- checked counter-->
        <span id="todo-selected-count"></span>
        <i class="material-icons checked-delete-btn"
           id="checked-delete-btn">delete</i>
    </div>
</body>
</html>