<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO-Project</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/post.js" defer></script>
    <script src="/js/patch.js" defer></script>
    <script src="/js/modal.js" defer></script>
    <script src="/js/delete.js" defer></script>
    <script src="/js/checkbox.js" defer></script>
</head>
<body>
<div class="todo-content">
    <h1 class="page-title shadow-pop-tr">TO DO</h1>
    <div class="todo-create">
        <form id="todo-form">
            <input type="text"
                   id="today-task"
                   class="form-control"
                   placeholder="오늘 할 일을 입력한 후 엔터를 누르세요..."
                   required>
        </form>
    </div>