<table class="table">
    <thead>

    <tr>
        <th scope="col">id</th>
        <th scope="col">todayTask</th>
    </tr>

    </thead>
    <tbody>
    {{#tasks}}
        <tr>
            <th>{{id}}</th>
            <td>{{todayTask}}</td>
        </tr>
    {{/tasks}}
    </tbody>
</table>