{{>layouts/header}}

    {{#tasks}}
    <ul class="todo-list">
        <li class="todo-item">
            <input type="checkbox" class="todo-checkbox">
            <span class="todo-title">{{todayTask}}</span>

            <div class="icons">
                <i class="material-icons edit-btn" style="cursor:pointer;">edit</i>
                <i class="material-icons delete-btn" style="cursor:pointer;">clear</i>
            </div>
        </li>
    </ul>
    {{/tasks}}

{{>layouts/footer}}