/* You can add global styles to this file, and also import other style files */

body {
  font-size: 18px;
  line-height: 1.58;
  background: #d53369;
  background: -webkit-linear-gradient(to left, #43cea2, #185a9d);
  background: linear-gradient(to left, #43cea2, #185a9d);
  color: #333;
}

h1 {
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

i {
  vertical-align: middle;
  color: #626262;
}

input {
  border: 1px solid #E8E8E8;
}

.page-title {
  text-align: center;
}

.todo-content {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  border-radius: 8px;
}

.form-control {
  font-size: 16px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #E8E8E8;
}

.form-control:focus {
  border: 1px solid #626262;
}

.todo-content .form-control {
  width: 100%;
  height: 50px;
}

.todo-content .todo-create {
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}

.todo-content .alert-danger {
  padding-left: 15px;
  font-size: 14px;
  color: red;
  padding-top: 5px;
}

.todo-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 450px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.todo-content ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
}

.todo-content ul li span {
  display: inline-block;
  vertical-align: middle;
}

.todo-content .todo-title {
  width: calc(100% - 160px);
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* add */

.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-item.completed .todo-title {
    text-decoration: line-through;
}

.edit-btn, .delete-btn {
    color: #555;
    font-size: 18px;
}

.edit-btn:hover { color: #007bff; }
.delete-btn:hover { color: red; }

.icons {
    margin-left: auto; /* 오른쪽 끝으로 밀기 */
    display: flex;
    gap: 10px; /* 아이콘 사이 간격 */
}

i {
    cursor: pointer; /* 손가락 모양 */
    user-select: none; /* 드래그 방지 */
}

i:focus {
    outline: none; /* 클릭 시 포커스 테두리 제거 */
}

.todo-footer {
    display: none;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    background-color: #fff;
    padding: 7.5px;
    gap: 10px;
}

.todo-footer span {
    font-size: 12px;
}